# ─── General ────────────────────────────────────────────────────────────────

# 0 for Development
# 1 for Production
ENVIRONMENT=0
PORT=3000

# ─── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DEFAULT_DB=itmp
POSTGRES_SHADOW_DB=itmp_shadow

POSTGRES_SUPERADMIN_USERNAME=
POSTGRES_SUPERADMIN_PASSWORD=

POSTGRES_APPLICATION_USERNAME=
POSTGRES_APPLICATION_PASSWORD=

POSTGRES_MIGRATION_USERNAME=
POSTGRES_MIGRATION_PASSWORD=

POSTGRES_URL=
POSTGRES_MIGRATION_URL=
POSTGRES_SHADOW_URL=

# ─── PGAdmin ────────────────────────────────────────────────────────────────
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=